html,
body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
}
header,
main,
footer {
        margin: 0 10% 0 10%;
}
h1{
    color:black;
}
.link {
    color: rgb(5, 2, 27)8, 24, 24;
}
.link:hover,
.link:focus {
  color: rgb(15, 121, 94);
  outline: none;
}
footer{
    background-color: rgba(93, 100, 109, 0.4);
    color: #91b3b3;
    margin: 0px;
}
footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 0px;
}